<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.tottenham.dao.BoardDAO">
  <select id="selectBoardList" resultType="kr.green.tottenham.vo.BoardVO">
    <![CDATA[ select *,(select count(*) from tottenham.comment where 
    comment.board_num = board.num and state = 'I') AS comment_count from board where ]]> 
    <choose>
    	<when test='valid.equals("I")|| valid.equals("D")'>
    		valid = #{valid}
    	</when>
    	<otherwise>valid='I' or valid='D'</otherwise>    	
    </choose>
    <choose>
    	<when test="cri.type == 1">
    		and title like concat('%',#{cri.search},'%')
    	</when>
    	<when test="cri.type == 2">
    		and writer like concat('%',#{cri.search},'%')
    	</when>
    	<when test="cri.type == 3">
    		and contents like concat('%',#{cri.search},'%')
    	</when>
    	<otherwise>
    		and (title like concat('%',#{cri.search},'%')
    		or writer like concat('%',#{cri.search},'%')
    		or contents like concat('%',#{cri.search},'%'))
    	</otherwise>
    </choose>
        
    order by num desc limit #{cri.pageStart}, #{cri.perPageNum}
  </select>
  <select id="selectCountBoardList" resultType="int">
    select count(*) from board where 
    <choose>
    	<when test='valid.equals("I")|| valid.equals("D")'>
    		valid = #{valid}
    	</when>
    	<otherwise>valid='I' or valid='D'</otherwise>    	
    </choose>
    <choose>
    	<when test="cri.type == 1">
    		and title like concat('%',#{cri.search},'%')
    	</when>
    	<when test="cri.type == 2">
    		and writer like concat('%',#{cri.search},'%')
    	</when>
    	<when test="cri.type == 3">
    		and contents like concat('%',#{cri.search},'%')
    	</when>
    	<otherwise>
    		and (title like concat('%',#{cri.search},'%')
    		or writer like concat('%',#{cri.search},'%')
    		or contents like concat('%',#{cri.search},'%'))
    	</otherwise>
    </choose>
  </select>
  <insert id="registerBoard">
  	insert into board(writer,title,contents,file) 
  		values(#{board.writer},#{board.title},#{board.contents},#{board.file}) 
  </insert>
  <insert id="insertFile">
	insert into file(board_num,name) values(#{num},#{file})
  </insert>
  <select id="selectFileList" resultType="kr.green.tottenham.vo.FileVO">
	select * from file where board_num = #{num} and state = 'I'
  </select>
  <select id="getMaxBoardNum" resultType="int">
  		select max(num) from board;
  </select> 
  <select id="selectBoard" resultType="kr.green.tottenham.vo.BoardVO">
  	select * from board where num = #{num}
  </select>
  <update id="updateBoard">
  	update board
  		set title=#{board.title}, contents=#{board.contents}, file=#{board.file}, views=#{board.views}, valid=#{board.valid}, registered=now()
 		where num=#{board.num}  
  </update> 
  <update id="updateFile">
  	update `file`
  		set state = 'D'
  		where board_num = #{board_num}
  </update>
  <insert id="insertComment">
	insert into `comment`(board_num, writer, contents)
		values(#{comment.board_num}, #{comment.writer}, #{comment.contents})
  </insert>
  <select id="selectMaxComment" resultType="int">
	select max(num) from `comment`
  </select>
  <select id="selectComment" resultType="kr.green.tottenham.vo.CommentVO">
	select * from `comment`
	where num = #{num} and state = 'I' order by num desc
  </select>
  <select id="selectCountComment" resultType="int">
	select count(*) from `comment`
	where num = #{num} and state = 'I'
  </select>
  <select id="selectCommentList" resultType="kr.green.tottenham.vo.CommentVO">
	select * from `comment`
	where board_num = #{num} and state = 'I' order by num desc
  </select>
  <update id="updateComment">
  	update `comment`
		set contents = #{cVo.contents}, state = #{cVo.state}
		where num = #{cVo.num} 
  </update>
  <select id="getTotalCountAll" resultType="int">
  	select count(*) from board where 1=1
  	<if test="type == 1">
   		AND title like concat('%',#{search},'%')
 		</if>
 		<if test="type == 2">
   		AND contents like concat('%',#{search},'%')
 		</if>
 		<if test="type == 3">
   		AND writer like concat('%',#{search},'%')
 		</if>
  </select>
  <select id="getBoardListAll" resultType="kr.green.tottenham.vo.BoardVO">
  	select * from board	where 1=1
  		<if test="type == 1">
    		AND title like concat('%',#{search},'%')
  		</if>
  		<if test="type == 2">
    		AND contents like concat('%',#{search},'%')
  		</if>
  		<if test="type == 3">
    		AND writer like concat('%',#{search},'%')
  		</if>
  		ORDER BY num desc
  		limit #{pageStart}, #{perPageNum}
  </select>
  <update id="updateValid">
  	update board set valid=#{valid} where num = #{num}
  </update>  
 </mapper>