<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.tottenham.dao.LeagueDAO">
	<select id="getLeagueList" resultType="kr.green.tottenham.vo.LeagueVO">
		select *,rank() over(order by score desc) from `league`;
	</select>
</mapper>