<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.tottenham.dao.MemberDAO">
	<select id="getMember" resultType="kr.green.tottenham.vo.MemberVO">
		select * from user where id = #{id}
	</select>
	<insert id="register">
		insert into user(id,pw,name,gender,email)
		values(#{id},#{pw},#{name},#{gender},#{email})
	</insert>
	<update id="modify">
		update user
	    	set pw = #{pw},name = #{name}, gender = #{gender}, email = #{email}
	    	where id = #{id};
	</update>
</mapper>