<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.tottenham.dao.PlayersDAO">
	<select id="playerList" resultType="kr.green.tottenham.vo.PlayersVO">
		select * from `player` 
		<choose>
			<when test='position == "D"'>
				where position = 'D'	
			</when>
			<when test='position == "G"'>
				where position = 'G'	
			</when>
			<when test='position == "M"'>
				where position = 'M'	
			</when>
			<when test='position == "A"'>
				where position = 'A'	
			</when>
		</choose>		 
	</select>
	<select id="selectPlayer" resultType="kr.green.tottenham.vo.PlayersVO">
		select * from `player` where num = #{num}
	</select>
	<select id="selectStatsNum" resultType="kr.green.tottenham.vo.StatsVO">		
		select * from `stats` where player_num = #{player_num}
	</select>	
</mapper>